@model IEnumerable<StoreAPI.Models.Product>
<p>
    @Html.ActionLink("Продукты", "IndexRead", "Product")

    @Html.ActionLink("Наличие товаров на складе","Index", "Product_storage")

    @Html.ActionLink("Категории", "Index", "Categories")
</p>