html, body {
    height: 100%;
}

body {
    margin:0;
}

header {
    position: relative;
    width: auto;
    height: 7vh;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    display: block;
    width: 100%;
    background-color: slategray;

}

    header a {
        font-family: 'Century Gothic';
        padding: 15px 0px 0px 20px;
        display: inline-block;
        color: white !important;
    }

section {
    position:relative;
    height: 91.8vh;
}

.nav {
    padding-top: 12px;
    display: inline-block;
    width: 15%;
    float: left;
    background-color: SandyBrown;
}

.content {
    display: inline-block;
    width: 85%;
    background-color: white;
}

.form_group {
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: 'Century Gothic';
}

.content > * {
    padding-left: 20px;
    font-family: 'Century Gothic';
}

ul {

    padding: 0;
    margin: 0;
}

.menu-li {

    font-size: 24px;
    padding: 10px 10px 20px 20px;
    list-style-type: none;
    font-family:'Century Gothic';

}

a {
    color: #000 !important;
    text-decoration: none
}

    li a:hover {
        color: white !important;
    }

footer {
    display:block;
    position:absolute;
    left:20%;
    bottom: 0;
    width:80%;
    text-align:center;
}


