html, body {
    height: 100%;
}

body {
    margin:0;
}

header {
    position: relative;
    width: auto;
    height: 7vh;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    display: block;
    width: 100%;
    background-color: darkred;

}

header a {
    font-family: 'Century Gothic';
    padding: 15px 0px 0px 20px;
    display: inline-block;
    color: white !important;
}

section {
    position:relative;
    height: 93vh;
}

.content {
    display: inline-block;
    width: 100%;
    background-color: white;

}

form * {
    margin-bottom: 10px;
}

th {
    padding: 10px !important;
}

.content ul li {
    display:inline;
    margin-right:10px;
}

.content .text_bold {
    font-weight: bold;
}

.content > * {
    font-family: 'Century Gothic';
    text-align:center;
    margin: 10px auto;
}

.content .img {
    margin-right: 20px;
    width: 200px;
    height: 200px;
}

.content .small_img {
    width: 100px;
    height: 100px;
}

.null {
    display: none;
}

.error {
    color: red;
}


textarea {
    width: 400px;
    resize: vertical;
    padding: 15px;
    border-radius: 15px;
    border: 0;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
    height: 100px;
}

input{
    width: 230px;
    resize: vertical;
    padding: 15px;
    border-radius: 15px;
    border: 0;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
    height: 10px;
}

.file::after {
    display:inline-block;
    width: 200px;
    color: white;
    background-color: slategray;
    height: 15px;
    content: "Загрузить изображение";
    padding: 20px;
    border-radius: 20px;
}

input[type=file] {
    width: 190px;
    opacity: 0;
    position: absolute;
    margin: 0 !important;
    padding-bottom: 25px;
    resize: none;
}


input[type=submit] {
    width: 260px;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    height: auto !important;
}

select {
    width: 230px;
    resize: vertical;
    padding: 15px;
    border-radius: 15px;
    border: 0;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
}

ul {

    padding: 0;
    margin: 0;
}

.menu {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.menu-li {

    display: inline;
    font-size: 24px;
    padding: 10px 10px 20px 20px;
    list-style-type: none;
    font-family: 'Century Gothic';
}

a {
    color: #000 !important;
    text-decoration: none
}

li a:hover {
    opacity: 0.5 !important;
}

.home {
    position: absolute;
}

.account {
    position: absolute;
    right: 10px;
}


