@model StoreAPI.Models.Type

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление типа доставки</h2>

<h3>Вы хотите удалить тип доставки?</h3>
<div>
    <br>
    <dl class="dl-horizontal">
        <dt>
            Название типа доставки
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name_type)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("К списку типов доставки", "Index")
        </div>
    }
</div>
