@model IEnumerable<StoreAPI.Models.Type>


<h2>Типы доставки</h2>

<p>
    @Html.ActionLink("Добавить тип доставки", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Название типа доставки
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name_type)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.id_type_delivery }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.id_type_delivery })
        </td>
    </tr>
}

</table>
